<div class="ngClassDemo">
  <div [ngClass]="{border: false}">This is never bordered</div>
  <div [ngClass]="{border: true}">This is always bordered</div>

  <div [ngStyle]="{bordered: isBordered}">
    Using object literal. Border {{ isBordered ? "ON" : "OFF"}}
  </div>

  <div [ngClass]="classesObj">
    using object var. Border {{ classesObj.bordered ? "ON" : "OFF"}}
  </div>

  <button (click)="toggleBorder()">Toggle</button>

  <div class="selectors">
    <div>
      <input type="checkbox"
             [checked]="classList.indexOf('blue') > -1"
             (click)="toggleClass('blue')">
    </div>
  </div>
</div>

